<form action="/comment" method="POST">
  <input type="hidden" name="comment[video_id]" value="<%= video_id %>">
  Author: 
  <br />
  <input type="text" name="comment[author]"><br/>
  Comment: 
  <br />
  <input type="text" name="comment[body]" input size=30><br/>
  <input type="submit">
</form>

  <br />
  <a class="btn btn-primary" href="/" role="button">Home</a>
